section.visitas {
  padding-top: 90px;
  padding-bottom: 74px;
  background-color: #fffef2;
  h2 {
    font-family: QuicheSans-Light;
    font-size: 43px;
    line-height: 45.5px;
    letter-spacing: -1.08px;
    text-align: left;
    color: #233769;
    margin-top: 0;
    margin-bottom: 16px;
  }
   img {
    margin-bottom: 43px;
   }
  p {
    font-family: BwModelica-Regular;
    font-size: 16px;
    line-height: 18.5px;
    letter-spacing: -0.72px;
    text-align: left;
    color: #233769;
  }
}